{{ define "main" }}
<div class="hero tall">
  <div class="container">
    <h1>{{ i18n "home_hero_title" | safeHTML }}</h1>
    <div class="buttons flex">
      <div class="flex1 tar mr1m">
        <a class="" href="{{ "premises/" | relLangURL }}">{{ i18n "home_hero_getting_started" | safeHTML }}</a>
      </div>
      <div class="flex1 tal ml1m">
        <a class="" href="{{ "how-it-works/" | relLangURL }}">{{ i18n "home_hero_sponsor" | safeHTML }}</a>
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="wrapper">
    <div class="">
      <center><h2>Kickstarter + peer-bonding and more meets movement organizing</h2></center>

      <p>Our mission is to scale courage by helping you identify and remove the barriers that prevent courage, so that enough of us—millions—can launch and sustain big enough and long enough strikes and non-violent direct actions to effectively stop the 100 companies who are murdering our glorious planet, and to force our representatives to rapidly pass well-funded Green New Deals/</p>

      <center><h2>Why do we want to be able to recruit and commit millions<br />to non-violent mass civil resistance?</h2></center>
      <ul>
        <li>History has repeatedly shown that to win the biggest battles for social change
        takes massive nonviolent civil resistance. Voting, though a sin qua non, is totally insufficient.</li>
        <li>To defeat our catastrophic climate collapse and horrific species extinction trajectories 
        will take lots more than big protests. It will take several million volunteers—though a total of only about 2% of the general public— willing to risk arrest and/or engage in massive long-lasting  strikes.</li>
        <li>For most, this will take more courage than they think they have.</li>
      </ul>

      <center><h2>Our Solution:</h2></center>
      
      <p><b>We take 4 <i>proven motivators</i> that increase people's courage and put them into a one-stop mobile friendly app inside your campaign’s “Take Action” tab that will--</b></p>

      <table><tr>
        <td style="width:65%; padding: 0 20px;">
          <ol>
            <li>ENABLE YOUR CAMPAIGN TO:
              <ul>
                <li>Recruit and commit vastly more volunteers than ever before willing to do non-violent direct action and/or sufficiently long and large enough strikes to have at least an 80% chance of winning. </li>
              </ul>
            </li>
            <br>
            <li>ENABLE THE POTENTIAL INDIVIDUAL VOLUNTEER TO GET WHAT THEY NEED TO COMMIT—TO BE COURAGEOUS, SPECIFICALLY:
              <ul>
                <li>To identify their doubts and concerns and get the support they need to be courageous--whether it is assurance that the risk of their time will be worth it, or bail money support, childcare, transportation, lodging, or simply to have a friend that will join them, we help the potential volunteer identify what is stopping them from taking action and connect with others who can remove those barriers.</li>
                <li>To Identify important campaigns convenient to their location</li>
                <li>We make it easy to find the causes you are most passionate about close enough for you to join</li>
                <li>To find a role they find most attractive and let campaigns know how their skills can be helpful</li>
                <li>We let potential volunteers choose among almost 20 resister and striker roles to find the ones they are most  interested in.  If a volunteer has  specialized skills that a campaign could use, we make sure the campaign knows</li>
                <li>To be able team up and make friends with others who share their interests and values (Peer-bonding). And if a potential volunteer can’t help directly, we will provide that person with ways they can support those who can (eg. through providing temporary housing)</li>
              </ul>
            </li>
          </ol>
        </td>
        <td>
          <img src="/wwimages/ban-fracking.png" />
        </td>
      </tr></table>
      <br>
      <center><h2><a href="/how-it-works">How does WinWisely actually work?</a></h2><br></center>
      <hr>
      <center>
        <br><br>
        <h2>Testimonials</h2>
        <style>
          .testimonials {
            margin: auto;
            overflow: hidden;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
            position: relative;
            max-width: 600px;
            margin-bottom: 20px;
            font-size: .8em;
          }
          .testimonials p {
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
          }
        </style>
        <div class="testimonials">
            <p>“The most innovative and needed app I've yet seen, and I vet 10 app proposals on average per day!”
            <br><sub>&mdash; Ed Bell, Head of tech innovation vetting for Leonardo DiCaprio's foundation</sub></p>

            <p>“Absolutely Awesome! WinWisely makes it possible for virtually everyone to get involved at some level.”
            <br><sub>&mdash; Dolores Huerta, Cofounder of United Farm Workers; President of Dolores Huerta Foundation</sub></p>

            <p>So the unique and brilliant thing about WinWisely is that it provides a simple and quick way for a campaign to ID not only much larger numbers of potential volunteers willing to do NVDA (or in an electoral version, other major time-consuming, albeit legal activities), but to ID the barriers for each such potential volunteer, which if removed, and at usually no cost,  would massively improve numbers able to be recruited and committed.
            <br><sub>&mdash; Wade Rathke, Chief Organizer of ACORN International, and founder of ACORN, once largest most effective community organizing operation in the USA</sub></p>
            
            <p>“After viewing the WinWisely demo, I'm sold. I love not just the crowdacting tool, but the social rewards and peer-bonding tools as well, which might be even more important for electoral campaigns than the crowdacting. I can't wait for them to get the funding they need so we can beta test this to help our own campaign win back Dem control of the NY State Senate.”
            <br><sub>&mdash; Blake Morris, Democratic candidate for NY State Senate</sub></p>
            
            <p>“Loved the WinWisely demo! Wish it was coded and we had it a month ago! I especially like its advanced features for creating peer bonds and thereby its power to engage more people and paste, and at the same time, to thereby reduce the flake out problem. Its social rewards features is also a great idea.”
            <br><sub>&mdash; Michael Carter, Deputy Campaign Manager for Ocasio2018 (NY 14th Congressional District/ Bronx and Queens)</sub></p>
            
            <p>“I am excited about the potential of WinWisely to significantly improve the recruitment and commitment powers of leading progressive organizations today.”
            <br><sub>&mdash; Josh Nussbaum, Senior Data Advisor, Indivisible National</sub></p>
            
            <p>“WinWisely is the only solution I've seen that would enable us to recruit and support the numbers of canvassers and phone bankers we need to win the strong election protection legislative victories we urgently need in every state to save democracy before it's too late.”
            <br><sub>&mdash; John Brakey, Executive Director, AUDIT-AZ</sub></p>
            
            <p>“Brilliant and Simple!”
            <br><sub>&mdash; Joel Segal, Co-Director of North Carolinians for Clean Energy</sub></p>
            
            <p>“For me, organizing and moving people through leadership has always been for me about one-on-one engagement. So, I really like this [WinWisely], because it seems that the human interaction doesn't go away. It's a tech tool that works with organizers. I also like it because there are a lot of people who self-select as activists but have no idea how to get involved.”
            <br><sub>&mdash; Walker Foley, Southern California Organizer, Food & Water Watch</sub></p>
            
            <p>“Fantastic idea! Much needed. I'll start making some introductions for you.”
            <br><sub>&mdash; Wesley Clark Jr.</sub></p>
            
            <p>“WinWisely's unique crowdacting functionality is a clever use of technology to amass the activists we need to advocate for and pass strong climate change legislation. We really like the simple, user-friendly design... We would be eager to try it out as soon as the software is ready and available. We believe the app could help us significantly to identify new activists in the San Diego area, and their specific interest in specific campaigns such as climate action plans, adoption of community choice energy, and keeping oil in the ground.”
            <br><sub>&mdash; Joint Statement, San Diego 350 Steering Committee</sub></p>
            
            <p>“WinWisely is an innovative app that I think has the power to change the way we approach and support rapid mobilization of people in-person on a range of social justice issues. The design team is refreshingly open to suggestions and looking to build a useful product for social justice leaders of the day.”
            <br><sub>&mdash; Aditi Juneja, Co-Founder of ResistanceManual.org, OurStates, and the Self Care Sundays Podcast</sub></p>
            
            <p>“In a state like Colorado, with a huge battle fighting the oil and gas industries encroachment on our health and homes, Win Wisely could be a fantastic tool to help communities on the front lines stay engaged and motivated for the long-haul. Frankly, I wish we had this application [WinWisely] last summer to better be able to recruit the petition gatherers we needed, and then, had we been successful in getting on the ballot, the massive numbers of canvassers & phone bankers we'd then need to pass the two anti-fracking initiatives.”
            <br><sub>&mdash; Lisa Trope, Senior Colorado Organizer, Food & Water Watch</sub></p>
            
            <p>“Exactly what the progressive movement needs to expand our capacity for major victories, channeling the frustrated energy that saturates anyone with a conscious these days and guiding them to action.”
            <br><sub>&mdash; Greg Schwedock, IT head for TheClimateMobilization</sub></p>
            
            <p>“This application has the potential to raise the effectiveness of involving people into the most important struggle of our times: stopping the fossil fuel monster from destroying our home planet…It can also be an important step towards taking political power back from corporate elites into the hands of the people.”
            <br><sub>&mdash; Kjell Kühne, Leave it in the Ground Initiative (LINGO)</sub></p>
            
            <p>“WinWisely is very thorough and offers solutions and support for many different aspects of how to run winning campaigns in the Medicare For All movement. I'm excited to make introduction to some national organizers.”
            <br><sub>&mdash; Katie Robbins, Executive Director, PNHPNY (Physicians for a National Health Program-New York Metro Chapter)</sub></p>
            
            <p>“We can see how Win Wisely's crowd acting and anti-flake-out functionalities could be a uniquely valuable organizing toolset for many of the collective actions needed to confront policies that threaten public health, fracking in particular. The entrenched interests promoting fracking in Pennsylvania are formidable. So we welcome a tool that could be used to mobilize many more volunteers than usual to rally against pipelines and fracking, especially health professionals who are our target group. And therefore we are open to trying out WinWisely once it is on line and free of bugs as an organizing tool for PSR Philadelphia and suspect it will become a valuable as well as for lots of groups fighting fracking in PA.”
            <br><sub>&mdash; Walter Tsau, Executive Director, Physicians for Social Responsibility-Philadelphia</sub></p>
            
            <p>“The world is ripe for an app like this if you get it right. It seems like you are pursuing a really productive vein.”
            <br><sub>&mdash; Dan Sherrell, Campaign Coordinator, NY Renews</sub></p>
            
            <p>“Really cool. This could be really helpful.”
            <br><sub>&mdash; Micah Parkin, Director 350Colorado</sub></p>
            
            <p>“We really appreciate how WinWisely recognizes that the strength of an organization lies in both its numbers and how well organized it is. So, we are really excited for the opportunity to beta test WinWisely for three reasons: 1) its well thought out platform helps organizers get better organized 2) it enables, for the first time ever, those people who wait until a movement hits critical mass before signing on to immediately self-identify and be drawn into the organization much faster, and 3) it cleverly allows those potential participants who want to be involved away from the front lines to participate in a variety of roles behind the scenes.”
            <br><sub>&mdash; Pramilla Malick, Chair, Protect Orange County</sub></p>
        </div>
      </center>
    </div>
  </div>
</div>
{{ end }}