{{ define "main" }}
<div class="hero tall">
  <div class="container">
    <h1>{{ i18n "home_hero_title" | safeHTML }}</h1>
    <div class="buttons flex">
      <div class="flex1 tar mr1m">
        <a class="" href="{{ "premises/" | relLangURL }}">{{ i18n "home_hero_getting_started" | safeHTML }}</a>
      </div>
      <div class="flex1 tal ml1m">
        <a class="" href="{{ "how-it-works/" | relLangURL }}">{{ i18n "home_hero_sponsor" | safeHTML }}</a>
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="wrapper">
    <div class="">
      <center><h2>Kickstarter + peer-bonding and more meets movement organizing</h2></center>

      <p>Our mission is to scale courage by helping you identify and remove the barriers that prevent courage, so that enough of us—millions—can launch and sustain big enough and long enough strikes and non-violent direct actions to effectively stop the 100 companies who are murdering our glorious planet, and to force our representatives to rapidly pass well-funded Green New Deals/</p>

      <center><h2>Why do we want to be able to recruit and commit millions<br />to non-violent mass civil resistance?</h2></center>
      <ul>
        <li>History has repeatedly shown that to win the biggest battles for social change
        takes massive nonviolent civil resistance. Voting, though a sin qua non, is totally insufficient.</li>
        <li>To defeat our catastrophic climate collapse and horrific species extinction trajectories 
        will take lots more than big protests. It will take several million volunteers—though a total of only about 2% of the general public— willing to risk arrest and/or engage in massive long-lasting  strikes.</li>
        <li>For most, this will take more courage than they think they have.</li>
      </ul>

      <center><h2>Our Solution:</h2></center>
      
      <p><b>We take 4 <i>proven motivators</i> that increase people's courage and put them into a one-stop mobile friendly app inside your campaign’s “Take Action” tab that will--</b></p>

      <table><tr>
        <td style="width:65%; padding: 0 20px;">
          <ol>
            <li>ENABLE YOUR CAMPAIGN TO:
              <ul>
                <li>Recruit and commit vastly more volunteers than ever before willing to do non-violent direct action and/or sufficiently long and large enough strikes to have at least an 80% chance of winning. </li>
              </ul>
            </li>
            <br>
            <li>ENABLE THE POTENTIAL INDIVIDUAL VOLUNTEER TO GET WHAT THEY NEED TO COMMIT—TO BE COURAGEOUS, SPECIFICALLY:
              <ul>
                <li>To identify their doubts and concerns and get the support they need to be courageous--whether it is assurance that the risk of their time will be worth it, or bail money support, childcare, transportation, lodging, or simply to have a friend that will join them, we help the potential volunteer identify what is stopping them from taking action and connect with others who can remove those barriers.</li>
                <li>To Identify important campaigns convenient to their location</li>
                <li>We make it easy to find the causes you are most passionate about close enough for you to join</li>
                <li>To find a role they find most attractive and let campaigns know how their skills can be helpful</li>
                <li>We let potential volunteers choose among almost 20 resister and striker roles to find the ones they are most  interested in.  If a volunteer has  specialized skills that a campaign could use, we make sure the campaign knows</li>
                <li>To be able team up and make friends with others who share their interests and values (Peer-bonding). And if a potential volunteer can’t help directly, we will provide that person with ways they can support those who can (eg. through providing temporary housing)</li>
              </ul>
            </li>
          </ol>
        </td>
        <td>
          <img src="/wwimages/ban-fracking.png" />
        </td>
      </tr></table>
      <center><h2><a href="/how-it-works">How does WinWisely actually work?</a></h2></center>
    </div>
  </div>
</div>
{{ end }}