<!DOCTYPE html>
<html lang="{{ if and $.Site.LanguageCode (not .Page.Params.untranslated) }}{{ $.Site.LanguageCode }}{{ else }}en-us{{ end }}">
	
	{{/* For untranslated page, we use the English header. */}}
	{{ if .Page.Params.untranslated }}
		{{ range .Page.Translations }}
			{{ if eq "en" .Language.Lang }}
				{{ partial "head" . }}
			{{ end }}
		{{ end }}
	{{ else }}
		{{ partial "head" . }}
	{{ end }}
	<body>
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.2.1/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
	</body>
</html>
